node_modules/
/uploads/
*.jsonl
.DS_Store
public/settings.json
/thumbnails
whitelist.txt
.vscode/**
!.vscode/extensions.json
.idea/
secrets.json
/dist
/backups/
content.log
cloudflared.exe
public/assets/
access.log
/vectors/
/cache/
/default/scaffold
public/scripts/extensions/third-party
/certs
.aider*
.env
/StartDev.bat
yarn.lock
